@media(orientation: landscape) {
    .shoe {
        font-size: 1.65vh;
    }
}
@media(orientation: portrait) {
    .shoe {
        font-size: 2.1vw;
    }
}


@media(min-width: 1400px) {
    #frame {
        max-width: 2000px !important;
    }
}

@media(max-width: 1300px) {
    #korpa-info button {
        font-size: 2vw;
    }
}
@media(orientation: landscape) and (max-height:800px) {
    #welcome-title {
        top: 25vh !important;
    }

    #welcome-screen {
        height: 90vh !important;
    }

    #Akcije {
        height: 95vh !important;
        width: 70%;
    }

    .navbar-meni .offcanvas {
        width: 40% !important;
    }

    #kategorije {
        margin-top: 500px;
    }
}

@media(orientation: landscape) and (max-height:500px) {
    .navbar-meni .navbar-nav {
        font-size: 1.2em;
    }

    .carousel-caption {
        margin-bottom: 0px;
        padding-bottom: 0px;
    }

    #kategorije {
        margin-top: 200px;
    }

    #kategorije-naslov h2 {
        font-size: 2em;
        margin-bottom: 10px;
    }

    #kategorije-naslov h5 {
        font-size: 1em;
    }
}

@media(orientation: landscape) and (max-height:400px) {
    .navbar-meni .navbar-nav {
        font-size: 1.2em;
    }

    .carousel-caption {
        margin-bottom: 0px;
        padding-bottom: 0px;
    }
}

@media(orientation: landscape) and (max-height:350px) {
    .navbar-meni .offcanvas {
        height: 250px;
        width: 50% !important;
    }

    .navbar-meni .navbar-nav {
        font-size: 1.1em;
    }
}

@media(orientation: landscape) and (max-height:310px) {
    .navbar-meni .offcanvas {
        height: 220px;
    }

    .navbar-meni .offcanvas ul {
        margin-top: 10px !important;
    }

    .navbar-meni .navbar-nav {
        font-size: 1em;
    }
}

@media(orientation: portrait) and (max-width:500px) {
    #kategorije {
        background-size: 200%;
    }
}

@media(max-width:1258px) {
    #welcome-title h1 {
        font-size: 4em;
    }

    #welcome-title h3 {
        font-size: 1.5em;
    }

    #welcome-title {
        top: 10vh;
    }
    #profile-ddtoggle {
        margin-top: 8px;
        font-size: 1.4vw;
    }
}

@media(max-width:1800px) {
    #kategorije {
        margin-top: 450px;
    }
}

@media(max-width:1600px) {
    #kategorije {
        margin-top: 400px;
    }
}

@media(max-width:1500px) {
    #kategorije {
        margin-top: 360px;
    }
}

@media(max-width:1400px) {
    #kategorije {
        margin-top: 350px;
    }
}

@media(max-width:1250px) {
    #kategorije {
        margin-top: 320px;
    }
}

@media(max-width:1197px) {
    .shoe {
        margin-top: 15px !important;
    }
    .stavka h2 {
        font-size: 2.5vw;
    }
}


@media(max-width:1072px) {
    #welcome-title h1 {
        font-size: 3em;
    }

    #welcome-title h3 {
        font-size: 1.2em;
    }

    .navbar-meni .navbar-nav {
        font-size: 1.4em;
    }
}

@media(max-width:1037px) {
    .nav-item {
        margin-left: 8px;
        margin-right: 10px;
    }

    .icons {
        margin-left: 5px;
    }

    .icons a svg {
        margin-right: 20px;
    }
    #no-shoes h2 {
        font-size: 3vw;
    }
}

@media(max-width:991px) {

    .navbar-brand h1,
    .navbar-toggler,
    .navbar-brand img,
    .icons {
        margin-bottom: 20px;
    }

    .navbar-meni .offcanvas {
        margin-top: 100px;
        box-shadow: -4px -5px 3px 0px #BCD8C1 inset;
    }

    .navbar-meni .offcanvas ul {
        margin-top: 30px;
    }

    .navbar-meni .offcanvas ul li {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        border-bottom: 1px solid #BCD8C1;
    }

    .navbar-meni .offcanvas ul li:first-child {
        border-top: 1px solid #BCD8C1;
    }

    #welcome-screen {
        height: 50vh;
    }

    #Akcije {
        height: 40vh;
    }

    #frame .navbar-nav {
        justify-content: flex-start !important;
    }

    #frame .navbar-nav li a {
        margin-bottom: 20px;
        margin-top: 10px;
    }

    #frame .offcanvas {
        box-shadow: 4px -5px 3px 0px #BCD8C1 inset;
    }

    .padajuci-meni {
        margin-top: -20px !important;
        box-shadow: 0 4px 1px -3px #BCD8C1;
        padding-right: 10px;
    }

    #filter-tekst {
        display: inline-block;
        margin-top: 10px;
    }

    #frame .container-fluid {
        justify-content: flex-start;
    }

    .padajuci-meni {
        width: 80%;
    }

}

@media(max-width:911px) {
    #profile-ddtoggle {
        margin-top: 8px;
        font-size: 2vw;
    }
}

@media(max-width:809px) {
    .shoe {
        max-width: 400px ;
        max-height: 500px ;
        margin-top: 20px !important;
    }
    .obrisi-stavku {
        top:8%;
        right:-92%;
        font-size: 3vw;
    }
    #nema-kupovine {
        width: 100% !important;
    }
}

@media(max-width:794px) {
    footer svg {
        height: 30px;
        width: 30px;
    }

    footer h5 {
        font-size: 1.1em;
    }
}

@media(max-width:784px) {
    .shoe {
        width: 250px;
    }
}

@media(max-width:775px) {

    .navbar-brand h1,
    .navbar-toggler,
    .navbar-brand img,
    .icons {
        margin-bottom: 0px;
    }

    .navbar-toggler {
        margin-right: 20px;
    }

    .row .col-md-3 {
        margin-bottom: 20px;
    }
}

@media(max-width:767px) {
    .shoe {
        width: 220px;
    }
    .stavka {
        max-height: 500px;
    }
    .stavka img {
        max-width: 220px;
    }
    .stavka h2 {
        font-size: 3.5vw;
    }
    .obrisi-stavku {
        top:4%;
        right:-90%;
        font-size: 4vw;
    }
}

@media(max-width:710px) {
    footer svg {
        height: 25px;
        width: 25px;
    }

    footer p {
        font-size: 0.9em;
    }

    footer h5 {
        font-size: 1em;
    }
    #profile-ddtoggle {
        margin-top: 8px;
        font-size: 3vw;
    }
}

@media(max-width:684px) {
    #welcome-title h1 {
        font-size: 2.5em;
    }

    #welcome-title h3 {
        font-size: 1.1em;
    }
}

@media(max-width:650px) {
    .navbar-brand button {
        margin: 0px;
    }
    .navbar-brand img {
        margin-left: 5px !important;
    }
    .lgreen {
        font-size: 2em;
    }
    #no-shoes h2 {
        font-size: 5vw;
    }
}

@media(max-width:626px) {
    #welcome-title h1 {
        font-size: 2em;
    }

    #welcome-title h3 {
        font-size: 1em;
    }

    #welcome-title {
        top: 80px;
    }
    #korpa-info button {
        font-size: 2.6vw;
    }
    #korpa-info h2 {
        font-size: 4vw;
    }
}

@media(max-width:609px) {
    .shoe {
        width: 220px;
    }

    .shoe a {
        font-size: 0.5em;
        bottom: 4%;
    }
    .stavka h2 {
        font-size: 4.5vw;
    }
}

@media(max-width:584px) {

}

@media(max-width:575px) {
    #signup-forma .row .col-sm-9 {
        margin-bottom: 30px;
    }
}

@media(max-width:566px) {
    #welcome-title h1 {
        font-size: 1.5em;
    }

    #welcome-title h3 {
        font-size: 0.8em;
    }

    footer p {
        font-size: 0.8em;
    }

    footer h5 {
        font-size: 0.9em;
    }
    .obrisi-stavku {
        top:3%;
        right:-88%;
        font-size: 5vw;
    }
}

@media(max-width:533px) {
    .icons a svg {
        width: 30px;
        height: 30px;
        margin-right: 10px;
    }
    #brojac {
        width:20px;
        height:20px;
        right:15%;
        font-size: 0.9em;
    }
    .navbar-toggler {
        margin-right: 15px;
    }

    .navbar-brand {
        margin-right: 0px;
    }

    .navbar-brand img {
        margin-left: 15px !important;
    }

    .carousel-caption h5,
    .carousel-caption p {
        font-size: 0.5em;
    }
    #my-profile .dropdown-menu {
        right: -70%;
    }
}

@media(max-width:500px) {
    footer {
        height: 150px;
    }

    footer svg {
        height: 20px;
        width: 20px;
    }

    footer h5 {
        font-size: 0.8em;
    }

    #dropdown-cena {
        width: 90%;
    }

    #frame .offcanvas {
        width: 60% !important;
    }
}


@media(max-width:456px) {
    .navbar-meni {
        height: 80px;
        padding-top: 5px;
    }

    .navbar-brand {
        margin-left: 5px;
    }

    .navbar-toggler {
        margin-left: 0px;
        margin-right: 5px !important;
    }
    .navbar-brand img {
        width:35px !important;
        margin-left: 0px !important;
    }

    #welcome-title h1 {
        font-size: 1em;
    }

    #welcome-title h3 {
        font-size: 0.6em;
    }

    #welcome-title {
        top: 5vh;
    }
    .stavka h2 {
        font-size: 5.5vw;
    }
    .obrisi-stavku {
        top:2%;
        right:-85%;
        font-size: 6vw;
    }
}

@media(max-width:420px) {
    footer p {
        font-size: 0.7em;
    }

    footer h5 {
        font-size: 0.7em;
    }
    #profile-ddtoggle {
        margin-top: 8px;
        font-size: 3.5vw;
    }
    #my-profile {
        margin-right:10px !important;
    }
}

@media(max-width:373px) {
    .container-fluid {
        padding-left: 6px;
        padding-right: 6px;
    }

    .navbar-brand {
        margin-left: 2px !important;
    }

    .icons {
        margin-left: 2px !important;
        margin-right: 0px !important;
    }

    .icons a svg {
        margin-right: 5px !important;
    }

    .navbar-brand {
        margin-right: 5px !important;
    }

    .navbar-toggler-icon {
        font-size: 0.5em;
    }

    .navbar-brand img {
        width: 40px;
    }

    footer p {
        font-size: 0.55em;
    }

    footer h5 {
        font-size: 0.6em;
    }
    #brojac {
        width:18px;
        height:18px;
        right:10%;
        top:-8%;
    }
    #korpa-info button {
        font-size: 2.5vw;
    }
}

@media(max-width:340px) {
    #welcome-title h1 {
        font-size: 1em;
    }

    #welcome-title h3 {
        font-size: 0.5em;
    }
}

@media(max-width:1300px) and (max-height:800px) {
    #kategorije {
        margin-top: 350px;
        height: 600px;
    }

    #Akcije {
        height: 70vh;
    }

    #uspesno-dodato,
    #uspesno-skinuto {
        left: 75%;
    }
}

@media(max-width:1100px) and (max-height:1000px) {
    #welcome-screen {
        height: 60vh !important;
    }

    #Akcije {
        height: 65vh !important;
    }
}

@media(max-width:1100px) and (max-height:900px) {
    #welcome-screen {
        height: 90vh !important;
    }

    #Akcije {
        height: 90vh !important;
    }

    #welcome-title {
        top: 25vh !important;
    }

    #kategorije {
        margin-top: 300px;
    }
}

@media(max-width:1100px) and (max-height:766px) {
    #Akcije {
        width: 75%;
        height: 50vh !important;
    }

    #welcome-screen {
        height: 45vh !important;
    }
}

@media(max-width:1000px) and (max-height:1000px) {
    #welcome-screen {
        height: 70vh !important;
    }

    #Akcije {
        height: 70vh !important;
    }

    #welcome-title {
        top: 15vh !important;
    }

    #kategorije {
        margin-top: 300px;
        height: 550px;
    }
}

@media(max-width:1000px) and (max-height:900px) {
    #welcome-screen {
        height: 80vh !important;
    }

    #Akcije {
        height: 70vh;
    }

    #welcome-title {
        top: 25vh !important;
    }
}

@media(max-width:1000px) and (max-height:750px) {
    #welcome-screen {
        height: 85vh !important;
    }

    #Akcije {
        height: 85vh;
    }

    #welcome-title {
        top: 25vh !important;
    }
}

@media(max-width:1000px) and (max-height:500px) {
    #welcome-screen {
        height: 90vh !important;
    }

    #welcome-title {
        top: 35vh !important;
    }

    .carousel-caption {
        margin-bottom: 0px;
        padding-bottom: 0px;
    }

    #kategorije {
        margin-top: 250px;
        height: 500px;
    }

    #kategorije-naslov h2 {
        font-size: 2.5em;
        margin-bottom: 10px;
    }

    #kategorije-naslov h5 {
        font-size: 1.3em;
    }
}

@media(max-width:900px) and (max-height:1100px) {
    #kategorije {
        margin-top: 250px;
        height: 550px;
    }

    #welcome-screen {
        height: 50vh !important;
    }

    #Akcije {
        height: 50vh !important;
    }

    #welcome-title {
        top: 10vh !important;
    }
    .shoe a {
        padding-bottom: 5px;
    }
    .shoe a svg{
        width: 25px;
        height: 35px;
    }
}

@media(max-width:900px) and (max-height:900px) {
    #welcome-screen {
        height: 70vh !important;
    }

    #Akcije {
        height: 75vh !important;
    }

    #welcome-title {
        top: 20vh !important;
    }
}

@media(max-width:900px) and (max-height:500px) {

    #uspesno-dodato,
    #uspesno-skinuto {
        left: 67%;
        font-size: 0.8em;
        width: 250px;
    }
}

@media(max-width:900px) and (max-height:400px) {
    #welcome-screen {
        height: 90vh !important;
    }

    #Akcije {
        height: 100vh !important;
    }
}

@media(max-width:800px) and (max-height:1300px) {
    #welcome-screen {
        height: 40vh !important;
    }

    #kategorije {
        margin-top: 250px;
        height: 550px;
    }

    #welcome-title {
        top: 5vh !important;
    }

    #uspesno-dodato,
    #uspesno-skinuto {
        left: 60%;
    }
}

@media(max-width:800px) and (max-height:1000px) {
    #welcome-screen {
        height: 60vh !important;
    }

    #kategorije {
        margin-top: 250px;
        height: 550px;
    }

    #Akcije {
        height: 65vh !important;
    }

    #welcome-title {
        top: 15vh !important;
    }
}

@media(max-width:800px) and (max-height:600px) {
    #kategorije {
        margin-top: 250px;
        height: 500px;
    }

    #welcome-screen {
        height: 90vh !important;
    }

    #welcome-title {
        top: 30vh !important;
    }

    #Akcije {
        height: 100vh !important;
    }
}

@media(max-width:800px) and (max-height:500px) {
    #kategorije {
        margin-top: 220px;
        height: 500px;
    }

    #welcome-screen {
        height: 90vh !important;
    }

    #welcome-title {
        top: 35vh !important;
    }

    #Akcije {
        height: 100vh !important;
    }
}


@media(max-width:800px) and (max-height:400px) {
    #kategorije {
        margin-top: 220px;
        height: 500px;
    }

    #welcome-screen {
        height: 90vh !important;
    }

    #welcome-title {
        top: 45vh !important;
    }
}


@media(max-width:750px) and (max-height:1000px) {
    #welcome-screen {
        height: 55vh !important;
    }

    #Akcije {
        height: 60vh !important;
    }

    #welcome-title {
        top: 10vh !important;
    }
}


@media(max-width:750px) and (max-height:1000px) {
    #kategorije {
        margin-top: 250px;
        height: 550px;
    }

    #welcome-screen {
        height: 55vh !important;
    }

    #Akcije {
        height: 60vh !important;
    }

    #welcome-title {
        top: 10vh !important;
    }
}

@media(max-width:750px) and (max-height:600px) {

    #welcome-screen {
        height: 85vh !important;
    }

    #welcome-title {
        top: 25vh !important;
    }

    #Akcije {
        height: 95vh !important;
    }
}

@media(max-width:750px) and (max-height:400px) {
    #kategorije {
        margin-top: 250px;
        height: 1450px;
    }
}

@media(max-width:700px) and (max-height:400px) {
    #kategorije {
        margin-top: 200px;
        height: 1450px;
    }
}

@media(max-width:600px) and (max-height:1000px) {
    #welcome-screen {
        height: 45vh !important;
    }

    #Akcije {
        height: 45vh;
    }

    #welcome-title {
        top: 10vh !important;
    }

    #kategorije {
        margin-top: 200px;
        height: 1500px;
    }

    #kategorije-naslov h2 {
        font-size: 2em;
        margin-bottom: 10px;
    }

    #kategorije-naslov h5 {
        font-size: 1.2em;
    }
    .shoe {
        font-size: 3vw;
    }
}

@media(max-width:600px) and (max-height:800px) {
    #welcome-screen {
        height: 45vh !important;
    }

    #Akcije {
        height: 45vh;
    }

    #welcome-title {
        top: 10vh !important;
    }

    .carousel-caption {
        margin-bottom: 0px;
        padding-bottom: 0px;
    }

    #kategorije {
        margin-top: 220px;
    }

    #kategorije-naslov h2 {
        font-size: 2em;
        margin-bottom: 10px;
    }

    #kategorije-naslov h5 {
        font-size: 1em;
    }
}

@media(max-width:600px) and (max-height:700px) {
    #welcome-screen {
        height: 60vh !important;
    }

    #welcome-title {
        top: 20vh !important;
    }

    #Akcije {
        height: 65vh !important;
    }

    #kategorije {
        margin-top: 180px;
        height: 1450px;
    }
}


@media(max-width:600px) and (max-height:500px) {
    #welcome-screen {
        height: 90vh !important;
    }

    #welcome-title {
        top: 35vh !important;
    }

    #Akcije {
        height: 85vh !important;
    }

    #kategorije {
        margin-top: 180px;
        height: 1450px;
    }
}

@media(max-width:600px) and (max-height:400px) {
    #welcome-screen {
        height: 90vh !important;
    }

    #welcome-title {
        top: 45vh !important;
    }

    #kategorije {
        margin-top: 180px;
    }
}

@media(max-width:575px) and (max-height:600px) {
    #kategorije-kartice .row .col-md-3 {
        width: 80%;
    }

    #kategorije {
        height: 950px;
    }
}

@media(max-width:550px) and (max-height:500px) {
    #welcome-screen {
        height: 80vh !important;
    }

    #welcome-title {
        top: 30vh !important;
    }

    #Akcije {
        height: 80vh !important;
    }
}

@media(max-width:550px) and (max-height:400px) {
    #welcome-screen {
        height: 90vh !important;
    }

    #welcome-title {
        top: 40vh !important;
    }

    #Akcije {
        height: 85vh !important;
    }
}


@media(max-width:500px) and (max-height:1000px) {
    #welcome-screen {
        height: 35vh !important;
    }

    #Akcije {
        height: 50vh !important;
    }

    #welcome-title {
        top: 5vh !important;
    }

    .carousel-caption {
        margin-bottom: 0px;
        padding-bottom: 0px;
    }

    .navbar-meni .offcanvas {
        width: 50% !important;
    }

    #kategorije {
        margin-top: 180px;
        height: 1270px;
    }

    #kategorije-naslov h2 {
        font-size: 2em;
        margin-bottom: 10px;
    }

    #kategorije-naslov h5 {
        font-size: 1em;
    }

    #uspesno-dodato,
    #uspesno-skinuto {
        left: 45%;
        font-size: 0.9em;
        width: 250px;
    }
    .shoe {
        max-height: 350px;
    }

}

@media(max-width:500px) and (max-height:900px) {


    #welcome-screen {
        height: 45vh !important;
    }

    #Akcije {
        height: 45vh;
    }

    #welcome-title {
        top: 10vh !important;
    }

    .carousel-caption {
        margin-bottom: 0px;
        padding-bottom: 0px;
    }

    #kategorije {
        margin-top: 180px;
    }

    #kategorije-naslov h2 {
        font-size: 2em;
        margin-bottom: 10px;
    }

    #kategorije-naslov h5 {
        font-size: 1em;
    }
}


@media(max-width:500px) and (max-height:700px) {
    #welcome-screen {
        height: 45vh !important;
    }

    #Akcije {
        height: 50vh;
    }

    #welcome-title {
        top: 10vh !important;
    }

    .carousel-caption {
        margin-bottom: 0px;
        padding-bottom: 0px;
    }

    #main-page {
        margin-top: 80px;
    }

    .navbar-meni .offcanvas {
        margin-top: 80px;
    }
}

@media(max-width:500px) and (max-height:650px) {
    #welcome-screen {
        height: 50vh !important;
    }

    #Akcije {
        height: 45vh;
    }

    #welcome-title {
        top: 15vh !important;
    }

    #kategorije {
        margin-top: 150px;
    }
}


@media(max-width:500px) and (max-height:500px) {
    #welcome-screen {
        height: 70vh !important;
    }

    #welcome-title {
        top: 20vh !important;
    }

    #Akcije {
        height: 70vh !important;
    }
}

@media(max-width:500px) and (max-height:400px) {
    #welcome-screen {
        height: 87vh !important;
    }

    #welcome-title {
        top: 40vh !important;
    }

    #Akcije {
        height: 80vh !important;
    }
}

@media(max-width:450px) and (max-height:1000px) {
    #welcome-screen {
        height: 30vh !important;
    }

    #Akcije {
        height: 30vh;
    }

    #welcome-title {
        top: 5vh !important;
    }

    .carousel-caption {
        margin-bottom: 0px;
        padding-bottom: 0px;
    }

    .navbar-meni .offcanvas {
        width: 50% !important;
    }

    #kategorije {
        margin-top: 170px;
    }

    #kategorije-naslov h2 {
        font-size: 1.8em;
        margin-bottom: 10px;
    }

    #kategorije-naslov h5 {
        font-size: 0.9em;
    }
}

@media(max-width:450px) and (max-height:900px) {
    #welcome-screen {
        height: 30vh !important;
    }

    #Akcije {
        height: 35vh;
    }
}

@media(max-width:450px) and (max-height:850px) {
    #welcome-screen {
        height: 35vh !important;
    }

    #Akcije {
        height: 40vh !important;
    }

    #welcome-title {
        top: 10vh !important;
    }

    .carousel-caption {
        margin-bottom: 0px;
        padding-bottom: 0px;
    }

    #kategorije {
        margin-top: 150px !important;
    }
}

@media(max-width:450px) and (max-height:766px) {
    #welcome-screen {
        height: 40vh !important;
    }

    #Akcije {
        height: 50vh !important;
    }

    #welcome-title {
        top: 10vh !important;
    }
}

@media(max-width:450px) and (max-height:700px) {
    #welcome-screen {
        height: 40vh !important;
    }

    #Akcije {
        height: 50vh;
    }

    #welcome-title {
        top: 10vh !important;
    }
}

@media(max-width:450px) and (max-height:650px) {
    #welcome-screen {
        height: 45vh !important;
    }

    #Akcije {
        height: 55vh;
    }

    #welcome-title {
        top: 10vh !important;
    }
}

@media(max-width:450px) and (max-height:600px) {
    #welcome-screen {
        height: 50vh !important;
    }

    #Akcije {
        height: 55vh !important;
    }

    #welcome-title {
        top: 15vh !important;
    }
}

@media(max-width:450px) and (max-height:500px) {
    #welcome-screen {
        height: 60vh !important;
    }

    #Akcije {
        height: 65vh !important;
    }

    #welcome-title {
        top: 20vh !important;
    }
}

@media(max-width:450px) and (max-height:400px) {
    #welcome-screen {
        height: 80vh !important;
    }

    #Akcije {
        height: 80vh;
    }

    #welcome-title {
        top: 30vh !important;
    }
}


@media(max-width:400px) and (max-height:1000px) {
    #Akcije {
        height: 35vh !important;
    }
}

@media(max-width:400px) and (max-height:900px) {
    #Akcije {
        height: 30vh !important;
    }

    #kategorije {
        margin-top: 150px;
    }

    #uspesno-dodato,
    #uspesno-skinuto {
        left: 42%;
        font-size: 0.7em;
        width: 200px;
    }
}

@media(max-width:400px) and (max-height:850px) {
    #welcome-screen {
        height: 32vh !important;
    }

    #Akcije {
        height: 35vh !important;
    }

    #welcome-title {
        top: 8vh !important;
    }

    #kategorije {
        margin-top: 150px;
    }
}

@media(max-width:400px) and (max-height:800px) {
    #welcome-screen {
        height: 35vh !important;
    }

    #Akcije {
        height: 35vh !important;
    }

    #welcome-title {
        top: 8vh !important;
    }

    .carousel-caption {
        margin-bottom: 0px;
        padding-bottom: 0px;
    }

    #kategorije {
        margin-top: 120px !important;
        height: 1100px;
    }

    #kategorije-naslov h2 {
        font-size: 1.5em;
        margin-bottom: 10px;
    }

    #kategorije-naslov h5 {
        font-size: 0.8em;
    }
}

@media(max-width:400px) and (max-height:766px) {
    #welcome-screen {
        height: 35vh !important;
    }

    #Akcije {
        height: 40vh !important;
    }

    #welcome-title {
        top: 10vh !important;
    }
}

@media(max-width:400px) and (max-height:700px) {
    #welcome-screen {
        height: 40vh !important;
    }

    #Akcije {
        height: 45vh !important;
    }

    #welcome-title {
        top: 10vh !important;
    }
}

@media(max-width:400px) and (max-height:650px) {
    #welcome-screen {
        height: 42vh !important;
    }

    #Akcije {
        height: 50vh !important;
    }

    #welcome-title {
        top: 12vh !important;
    }
}

@media(max-width:400px) and (max-height:600px) {
    #welcome-screen {
        height: 45vh !important;
    }

    #Akcije {
        height: 55vh !important;
    }

    #welcome-title {
        top: 12vh !important;
    }

    #kategorije {
        margin-top: 120px;
        height: 950px;
    }
}

@media(max-width:400px) and (max-height:550px) {
    #welcome-screen {
        height: 55vh !important;
    }

    #Akcije {
        height: 60vh !important;
    }

    #welcome-title {
        top: 20vh !important;
    }

    #kategorije {
        margin-top: 120px;
        height: 950px;
    }
}

@media(max-width:400px) and (max-height:500px) {
    #welcome-screen {
        height: 55vh !important;
    }

    #Akcije {
        height: 60vh !important;
    }

    #welcome-title {
        top: 12vh !important;
    }
}

@media(max-width:360px) and (max-height:800px) {
    #welcome-screen {
        height: 30vh !important;
    }

    #Akcije {
        height: 30vh !important;
    }

    #welcome-title {
        top: 10vh !important;
    }
}

@media(max-width:360px) and (max-height:766px) {
    #welcome-screen {
        height: 35vh !important;
    }

    #Akcije {
        height: 40vh !important;
    }

    #welcome-title {
        top: 10vh !important;
    }
}

@media(max-width:360px) and (max-height:700px) {
    #welcome-screen {
        height: 37vh !important;
    }

    #Akcije {
        height: 42vh !important;
    }

    #welcome-title {
        top: 10vh !important;
    }
}

@media(max-width:360px) and (max-height:640px) {
    #welcome-screen {
        height: 40vh !important;
    }

    #Akcije {
        height: 45vh !important;
    }

    #welcome-title {
        top: 10vh !important;
    }
}

@media(max-width:360px) and (max-height:600px) {
    #welcome-screen {
        height: 45vh !important;
    }

    #Akcije {
        height: 50vh !important;
    }

    #welcome-title {
        top: 10vh !important;
    }
}

@media(max-width:360px) and (max-height:550px) {
    #welcome-screen {
        height: 47vh !important;
    }

    #Akcije {
        height: 55vh !important;
    }

    #welcome-title {
        top: 10vh !important;
    }
}

@media(max-width:350px) and (max-height:900px) {
    #welcome-screen {
        height: 30vh !important;
    }

    #Akcije {
        height: 30vh !important;
    }

    #welcome-title {
        top: 8vh !important;
    }
}

@media(max-width:350px) and (max-height:766px) {
    #welcome-screen {
        height: 32vh !important;
    }

    #Akcije {
        height: 35vh !important;
    }

    #welcome-title {
        top: 10vh !important;
    }
}

@media(max-width:350px) and (max-height:700px) {
    #welcome-screen {
        height: 35vh !important;
    }

    #Akcije {
        height: 40vh !important;
    }

    #welcome-title {
        top: 10vh !important;
    }
}

@media(max-width:350px) and (max-height:650px) {
    #welcome-screen {
        height: 40vh !important;
    }

    #Akcije {
        height: 45vh !important;
    }

    #welcome-title {
        top: 10vh !important;
    }
}

@media(max-width:350px) and (max-height:600px) {
    #welcome-screen {
        height: 43vh !important;
    }

    #Akcije {
        height: 50vh !important;
    }

    #welcome-title {
        top: 10vh !important;
    }
}

@media(max-width:350px) and (max-height:500px) {
    #welcome-screen {
        height: 47vh !important;
    }

    #Akcije {
        height: 50vh !important;
    }

    #welcome-title {
        top: 15vh !important;
    }

    #kategorije {
        height: 900px !important;
    }
}

@media(max-width:350px) and (max-height:450px) {
    #welcome-screen {
        height: 50vh !important;
    }

    #Akcije {
        height: 55vh !important;
    }

    #welcome-title {
        top: 15vh !important;
    }
}

@media(max-width:330px) and (max-height:700px) {
    #welcome-screen {
        height: 35vh !important;
    }

    #Akcije {
        height: 40vh !important;
    }

    #welcome-title {
        top: 10vh !important;
    }
}

@media(max-width:330px) and (max-height:630px) {
    #welcome-screen {
        height: 40vh !important;
    }

    #Akcije {
        height: 40vh !important;
    }
}

@media(max-width:330px) and (max-height:550px) {
    #welcome-screen {
        height: 45vh !important;
    }

    #Akcije {
        height: 45vh !important;
    }
}

@media(orientation: landscape) and (max-width:766px) {
    #kategorije {
        height: 1450px;
    }
}


@media(orientation: landscape) and (max-width:575px) {
    #kategorije {
        height: 1300px;
    }
}

@media(orientation: landscape) and (max-width:550px) {
    #kategorije {
        height: 1250px;
    }
}

@media(orientation: landscape) and (max-width:500px) {
    #kategorije {
        height: 1200px;
    }
}

@media(orientation: landscape) and (max-width:450px) {
    #kategorije {
        height: 1100px;
    }
}

@media(orientation: portrait) and (max-width:1000px) {
    #kategorije {
        height: 550px !important;
        margin-top: 250px;
    }
}

@media(orientation: portrait) and (max-width:766px) {
    #kategorije {
        height: 1450px !important;
    }
}

@media(orientation: portrait) and (max-width:600px) {
    #kategorije {
        height: 1450px !important;
    }
}

@media(orientation: portrait) and (max-width:576px) {
    #kategorije {
        height: 1300px !important;
    }
}

@media(orientation: portrait) and (max-width:500px) {
    #kategorije {
        height: 1150px !important;
        margin-top: 150px;
    }
}

@media(orientation: portrait) and (max-width:450px) {
    #kategorije {
        height: 1050px !important;
    }
}

@media(orientation: portrait) and (max-width:400px) {
    #kategorije {
        height: 950px !important;
    }
}

@media(orientation: portrait) and (max-width:350px) {
    #kategorije {
        height: 900px !important;
    }
}

@media(orientation: portrait) and (max-width:576px) and (min-height:601px) {
    #kategorije {
        height: 1450px !important;
    }
}

@media(orientation: portrait) and (max-width:500px) and (min-height:601px) {
    #kategorije {
        height: 1300px !important;
    }
}

@media(orientation: portrait) and (max-width:450px) and (min-height:601px) {
    #kategorije {
        height: 1200px !important;
    }
}

@media(orientation: portrait) and (max-width:400px) and (min-height:601px) {
    #kategorije {
        height: 1100px !important;
    }
}

@media(orientation: portrait) and (max-width:350px) and (min-height:601px) {
    #kategorije {
        height: 1000px !important;
    }
}

@media(max-height:840px) {
    #frame .offcanvas {
        height: 90%;
    }
}

@media(max-height:740px) {
    #frame .offcanvas {
        height: 100%;
    }
}
